/* .carousel {
    margin-top: 20px;
}

.carousel-fade .carousel-item,
.carousel-item img {
    height: 55vh;
}

.carousel-item>img {
    max-width: 100%;
} */

#eventoCarosello {
    color: white;
    font-weight: bold;
    font-size: large;
}

textarea,
input[type="text"] {
    color: black;
}

#map {
    width: 100%;
    height: 500px;
    background-color: grey;
}

#ordiniTable {
    text-align: center;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* Vertically center the text there */
    background-color: #f5f5f5;
    margin-top: 40px;
}

@media all and (max-width: 480px) {
    #mobileOrganizzati {
        display: block;
    }
    #desktopEventiOrg {
        display: none;
    }
}

@media (min-width: 992px) {
    #mobileOrganizzati {
        display: none;
    }
    #desktopEventiOrg {
        display: block;
    }
}

@media (min-width: 200px) {
    #col_dettaglio {
        text-align: center;
        margin-bottom: 15px;
    }
}